/* Resetting some basic styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: serif, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    cursor: default;
    
  }
  img {
    max-width: 100%;
    height: auto;
    display: block;
}
  header {
    position: sticky;
    z-index: 3;
    top: 0;
    background-color: #4CAF50;
    color: white;
    padding: 1.6rem;
    justify-content: center;
    overflow: auto;
    align-items: center;
    border-bottom-right-radius: 16px;
    border-bottom-left-radius: 16px;
  }
  nav ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
  }
  
  nav ul li {
    margin: 0 15px;
  }
  
  nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
  }
  #intro {
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    padding: 30px; 
    max-width: 600px; 
    margin: 20px auto; 
    text-align: center;    
  }
  #intro h1 {
    font-size: 2rem;
  }
  #intro p {
    font-size: 1.4rem;
  }
  section {
    margin-bottom: 20px;
    padding: 50px 20px;
    text-align: center;
  }
  section h2 {
    font-size: 2rem;
    margin-bottom: 20px;
}
  h1, h2 {
    color: #4CAF50;
  }
  .plant-gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: center;
  }
  .plant-item { 
    background-color: #f4f4f4;
    padding: 1rem;
    border-radius: 8px;
    text-align: center;
    width: 100%;
    max-width: 300px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    transition: transform 0.3s;
}

  .button {
    background-color: #4CAF50;
    display: inline-block;
    padding: 0.8rem 1.5rem;
    color: #fff;
    margin-top: 1rem;
    transition: background 0.3s;
    border-radius: 12px;
  }
  
  button:hover {
    background-color: #45a049;
  }
  
  form input, form textarea {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
  }
  footer {
    text-align: center;
    background-color: #333;
    color: white;
    padding: 1.6rem;
    bottom: 0;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
  }